
.mysecond-Swiper2 {
  width: 100%;
}

.mysecond-Swiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 20px 0px 20px;
}

.mysecond-Swiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.7;
}

.mysecond-Swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
